@font-face {
    font-family: "stratosskyengweb";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/stratosskyengweb-regular.woff2") format("woff2");
  }
  @font-face {
    font-family: "stratosskyengweb";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/stratosskyengweb-regular.woff") format("woff");
  }

html {
   font-size: 16px;
}


body {
    font-family: "stratosskyengweb";
    background-color: #004980;
    margin: 0;
    padding: 0;
}

/* * {
    margin: 0;
    padding: 0;
  } */

.main_page {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    max-width: 1024px;
    max-height: 100vh;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
  }

.levels {
    box-sizing: border-box;
    padding: 52px 70px 50px;
    text-align: center;
    margin: auto auto;
    width: 480px;
    height: 459px;
    background-color: #C2F5FF;
    border-radius: 12px;
}

.levels_title {
    margin: 0;
    font-size: 2.5rem;
    line-height: 120%;
    color: #004980;
}

.levels_numbers {
    margin-top: 44px;
    margin-bottom: 67px;
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
}

.number {
    height: 98px;
    width: 98px;
    border-radius: 12px;
    border: none;
    color: #0080C1;
    font-size: 4rem;
    background-color: #fff;
    outline: 3px solid transparent;
    transition: all .3s;
}

.number:hover {
    transform: scale(1.1);
    outline-color: #0080C1;
    cursor: pointer;
}

.number:active {
    color:#0071a9;
    background-color: #e6e6e6;
}

.number_checked {
    transform: scale(1.1);
    outline-color: #0071a9;
}


button {
    width: 246px;
    height: 50px;
    background: #7AC100;
    border-radius: 12px;
    font-family: inherit;
    color: #fff;
    font-size: 1.5rem;
    border: none;
}

.button:hover {
    background-color: #0080C1;
    color: white;
    cursor: pointer;
    transform: scale(1.01);
    transition: all 0.5s;
}

.button:active {
    background-color: #71b101;
    color: #cfcfcf;
  }