.shadow {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    background-color: #004980;
    opacity: 0.91;
}

.result {
    position: absolute;
    z-index: 2;
    padding: 32px 10px 48px;

    &__heading {
        margin: 5px 0 28px;
        font-size: 2.5rem;
        line-height: 120%;
        color: #004980;
    }

    &__text {
        font-size: 24px;
        line-height: 32px;
        margin: 0 0 10px;
    }

    &__time {
        margin: 0 0 40px;
        font-size: 4rem;
        line-height: 4.5rem;
        color: #000;
    }
}